absl-py==1.0.0
addict==2.4.0
-e git+https://github.com/aimedical/aim-dataset-tools.git@d19a096dafbd2d6981fbfcb13149a16ccafe346d#egg=aim_dataset_tools
astroid==2.11.7
async-timeout==4.0.2
attrs==20.3.0
bm3d==3.0.9
boto3==1.22.11
botocore==1.25.11
cachetools==5.0.0
certifi==2021.10.8
chardet==4.0.0
charset-normalizer==2.0.12
clearml==1.4.0
clearml-agent==1.2.3
clearml-session==0.3.5
click==8.1.3
cog==0.0.3
colorama==0.4.5
commonmark==0.9.1
contextlib2==21.6.0
cycler==0.11.0
Deprecated==1.2.13
dill==0.3.5.1
distlib==0.3.4
einops==0.4.1
ffmpeg-python==0.2.0
filelock==3.7.1
Flask==2.1.2
fonttools==4.33.3
furl==2.1.3
future==0.18.2
google-auth==2.6.6
google-auth-oauthlib==0.4.6
grpcio==1.46.1
idna==2.10
imageio==2.19.1
importlib-metadata==4.11.3
importlib-resources==5.7.1
imutils==0.5.4
isort==5.10.1
itsdangerous==2.1.2
Jinja2==3.1.2
jmespath==1.0.0
json5==0.9.8
jsonschema==3.2.0
kiwisolver==1.4.2
lark==1.1.2
lazy-object-proxy==1.7.1
lmdb==1.3.0
Markdown==3.3.7
MarkupSafe==2.1.1
matplotlib==3.5.2
mccabe==0.7.0
mmcls==0.23.1
mmcv-full==1.5.3
-e git+https://github.com/open-mmlab/mmsegmentation.git@5c113d98ecf362d9a215fbb3016ea7e76850ed98#egg=mmsegmentation
model-index==0.1.11
msgpack==1.0.3
networkx==2.8
numpy==1.22.3
oauthlib==3.2.0
opencv-python==4.5.5.64
openmim==0.2.0
ordered-set==4.1.0
orderedmultidict==1.0.1
packaging==21.3
pandas==1.4.3
pathlib2==2.3.7.post1
pexpect==4.8.0
Pillow==9.1.0
pipdeptree==2.2.1
platformdirs==2.5.2
prettytable==3.3.0
protobuf==3.20.1
psutil==5.8.0
ptyprocess==0.7.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycocotools==2.0.4
Pygments==2.12.0
pyhocon==0.3.59
pyhumps==3.7.1
PyJWT==2.0.1
pylint==2.13.9
pyparsing==3.0.8
pyrsistent==0.18.1
python-box==6.0.2
python-dateutil==2.8.2
pytz==2022.1
PyWavelets==1.3.0
PyYAML==5.4.1
redis==4.2.2
requests==2.25.1
requests-oauthlib==1.3.1
rich==12.5.1
rsa==4.8
ruamel.yaml==0.17.21
ruamel.yaml.clib==0.2.6
s3transfer==0.5.2
schema==0.7.5
scikit-image==0.17.2
scipy==1.8.0
six==1.16.0
tabulate==0.8.10
tb-nightly==2.10.0a20220511
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
thop==0.0.31.post2005241907
tifffile==2022.5.4
timm==0.5.4
toml==0.10.2
tomli==2.0.1
torch==1.11.0
torch-summary==1.4.5
torchvision==0.12.0
tqdm==4.64.0
typing-extensions==4.2.0
urllib3==1.26.9
virtualenv==20.14.1
wcwidth==0.2.5
Werkzeug==2.1.2
wrapt==1.14.1
yapf==0.32.0
zipp==3.8.0
